# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.out
gen
*.pyc
*.log
*.csv
*.png
*.jpg
my_settings.py
public_config.py

# 忽略系统默认生成的文件——单个文件夹的
# 将具体路径和文件加进来
__pycache__
.idea/
.idea/*.*

config/
config/private.py
config/public_config.py
test/

migrations/
!migrations/__init__.py

files/
.DS_Store
